<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        
        <div class="splash-container">
            <div class="splash-content">
                <div class="">
                    <h1 class="text-center splash-title">404: Not Found</h1>
                    {{- partial "colorfuldivider.html" . -}}
                    <h3 class="text-center"><i>I see you've found the page that tells you you're lost...</i></h3>
                    <a class="text-center" href="/"><h3>Try retracing your steps</h3></a>
                </div>
            </div>
        </div>
    </body>
</html>
